.genreDisplay {
    width: 100%;
    padding: 10px;
}

.genre-cover {
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to top,transparent, rgba(0, 0, 0, 0.87) 20%);
    border-radius: 10px;
    object-fit: cover;
   
    transition: 5s ease-in-out;
}

.genre-cover:hover {
    transform: scale(1.2);
    
}

.genre-diplay-card {
    max-width: 100%;
    max-height: 650px;
    overflow: hidden;
    position: relative;
    background-color: black;
    border-radius: 10px;
}

.genre-display-info {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.genre-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.genre-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.genre-controls {
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 5%;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
}

.genre-play-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
}